{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title>Your past donations</title>
</head>
<body>
    <div id = "navbar-edit">
        {% include 'home/base.html' %}
    </div>
    <div class = "container">
        <div class = "center-elements">
            <div class = "content white-text" id = "main">
                <div class = "user-id row">
                    <div class = "col-3" id = "user-image">
                        <img src="{% static 'userprofile/images/avatar.png' %}">
                    </div>
                    <div class = "col-9" id = "user-name">
                        <h1>{{ user.get_full_name }}</h1>
                    </div>
                </div>
                <div class = "donation-history">
                    <div class = "banner">
                        <h3 class = "center-text">Donation Records</h3>
                    </div>
                    <div id = "donation-table">
                        <table>
                            <thead>
                                <tr>
                                    <th><h4>Program Name</h4></th>
                                    <th><h4>Date of Donation</h4></th>
                                    <th><h4>Amount (Rp)</h4></th>
                                </tr>
                            </thead>
                            <tbody><!-- Table content filled by javascript --></tbody>
                            <form>
                                {% csrf_token %}
                                <div class="modal fade" id="donate-removal" tabindex="-1" role="dialog" aria-labelledby="donation-remove" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="donation-remove">Remove Donation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to remove this donation from your profile?<br>
                                                There are no refunds!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="removeDonation()">Remove Donation</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </table>
                    </div>
                    <h3 class = "center-text" id = "donation-total"></h3>
                </div>
            </div>
        </div>
    </div>
    {% include 'home/footer.html'%}
</body>
<link rel = "stylesheet" href = "{% static 'userprofile/style.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src = "{% static 'userprofile/script.js' %}" type = "text/javascript"></script>
</html>