
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="{% url 'home:index' %}">KitaSabi.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:news' %}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:programs' %}">Programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:about' %}">About</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'userprofile:userprofile' %}">{{ user.get_full_name }}</a>
          {% else %}
          {% endif %}
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a href="{% url 'home:logout' %}"><button class="btn btn-outline-light border" type="button" style="border-radius: 20pt">Logout</button></a>
          {% else %}
          <a href="{% url 'home:social:begin' 'google-oauth2' %}"><button class="btn btn-outline-light border" type="button" style="border-radius: 20pt">Login</button></a>
        </li>
        {% endif %} 
      </ul>
    </div>
    
  </nav>
  </div>
    