{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
	<title>KitaSabi</title>
</head>
	
<body>
	
	{% include 'home/base.html'%}

	<div class="container">
		<div class="row">
			<div class="col-sm-5" style = "text-align: center; ">
				<h1 class="first" align="center" style="margin-top: 25vh; color: white; font-size: 80px; font-family: montserrat">the world</h1>
				<h1 class="second" align="center" style="color:white; font-size: 80px; font-family: montserrat">needs <b><i>you.</i></b></h1>
				{% if user.is_authenticated %}
				<a href="{% url 'home:donate' %}"><button  class="btn btn-outline-light btn-lg" type="button" style="border-radius: 20pt">donate</button></a>
				{% else %}
				<a href="#" data-target="#login" data-toggle="modal"><button  class="btn btn-outline-light btn-lg login-trigger" type="button" style="border-radius: 20pt">donate</button></a>
			</div>
			{% endif %}
		</div>
	</div>
	<br><br><br><br><br><br>
	
	
	{% include 'home/footer.html'%}


	<!--Trigger-->

<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <div class="modal-content">
      <div class="modal-body">
        <button data-dismiss="modal" class="close">&times;</button>
        <h4 style="text-align: center">Want to donate? Login Now!</h4>
        <form>
				<a href="{% url 'home:social:begin' 'google-oauth2' %}"><button class="loginBtn loginBtn--google" type="button" style="margin-left: 150px; border-radius: 20pt">Login With Google</button></a>
         
        </form>
      </div>
    </div>
  </div>  
</div>
	


	
	
</body>
</html>