/* CSS: BODYYY BG*/
h1{
    font-weight: bold;
}

#desc{
    height:auto;
    padding:20vh 20vw;
}


#testimonies{
    padding: 0 20vw;
    text-align: center;
}

body {
    background-image: url("https://i.imgur.com/BDgKcc3.png");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
 }
 
 /* title */
h1{

    color: #ffffff;
    text-align: center;
    font: Montserrat;
}

h2{

    color: #ffffff;
    text-align: center;
}

p{

    color: #ffffff;
    text-align: center;
}

body{
    color:#ffffff;
    text-align: center;
}

 * {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.submit {
    border-radius: 40px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

@media (max-width:996px) {
    #testimonies{
        padding: 0 5vw;
    }
}