.header {
  background-color: black;
  font-family: 'Montserrat';
  color: white;
  justify-content: flex-start;
  align-items: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header h1 {
  text-align: center;
  font-size: 40px;
  height: 7%;

}

.header h2 {
  text-align: center;
  font-size: 30px;
}

.kanan {
  font-family: 'Montserrat';
  color: white;
  border: 1px solid black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid white;
}

.kiri {
  width: 50%;
  height: auto;
}

.sizeimg{
  height: 100%;
  width: 100%;
}

.isian {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
