body {
    background-image: url("images/hands.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat;
}

.errorlist li{
    
    font-size: 1vmax;
    padding: 5px;
    list-style-type: none;
    color: #f44336;
    border-radius: 8px;
}

ul {
    margin: 0;
}

.errorlist{
    padding: 0;
}
  
.white-text {
    color:white;
}

.giant-text {
    font-size: 4vmax;
}

.container {
    margin: 7vmin auto;
    max-width: 100vw;
}

.center-elements {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}

.signup-card {
    background: #00000099;
    padding: 5vmin 5vmax;
    border-radius: 15pt;
}

.control {
    max-width: 40vmax;  
    margin : 0 auto;
}

.form-attr {
    font-size: 1vmax;
    margin : .7vmax 0;
    background: transparent;
    border-radius: 15pt;
    border: solid 2px;
    color: white;
    padding: .8vmin .8vmax;
    width: 100%;
}

.signup-button {
    font-size: 1vmax;
    background: transparent;
    border: solid 2px;
    border-radius: 15pt;
    width: 6vmax;
}
label {
    font-size: 1.1vmax;
    margin-bottom: 0;
}

.center {
    margin: 2vmin auto 0 auto;
}

.center-1 {
    margin: 0 auto;
    text-align: center;
}

option {
    color:black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
    font-size: 1.1vmax;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}

.styled-checkbox{
    width: .9em;
    height: .9em;
    background-color: transparent;
    border-radius: 50%;
    border: .1vmax solid white;
    -webkit-appearance: none;
    outline: none;

    font-size: .9vmax;
}

.hide-donor {
    font-size:1vmax;
}

.styled-checkbox:checked {
    background-color: white;    
}

.redirect-button {
    font-size: 1.3vmax;
    background: transparent;
    border: solid 2px white;
    border-radius: 20pt;
    padding: .8vmin .8vmax;
    cursor: pointer;
}

#mr-donate {
    margin-right:2vw;
}
@media (max-width: 768px) {
    .form-attr {
        font-size: 1.2vmax;
        margin : .2vmax 0;
    }

    label {
        font-size:1.3vmax;
    }

    .signup-button {
        font-size: 1.1vmax;
        width:7vmax;
    }
}

