body {
    background-image: url("images/hands.8964a47ac691.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat;
}

.center-elements {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#navbar-edit {
    background: rgba(0, 0, 0, 0.3);
}

.content {
    max-width: 100vw;
    background: #00000099;
    padding: 4vh 4vw;
    border-radius: .8em;
}

#user-image {
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#user-name {
    display: flex;
    align-items: center;
}

.user-id {
    margin: 3vh 1vh;
}

.banner {
    margin: 2vh 0;
}
.white-text {
    color: white;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 2vw 0;
}

.td-inside {
    border-bottom: 1px solid #dddddd43;
    padding: .5em .5em .2em .5em;
}

.btn-outline-danger {
    border: none;
}

.center-text {
    text-align:center;
}

#donation-total {
    margin: 2vh 0;
}

.modal-content {
    font-weight: normal;
    color:black;
    background: white;
}

img {
    max-width: 64px;
    max-height: 64px;
}