<!doctype html>

{% load static %}
{% include 'home/base.html' %}

<head>
	<title>KitaSabi.com</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'about/style_css.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'crowdfunding/global.css' %}"> -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'about/style_js.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">

</head>

<body>

    <br><br>
   
            <h1 color='white'><bold>KitaSabi.com</bold></h1>
            <h4 color="red">by SinarPerak</h4>
            <div id = "desc"  style="text-align: center;">Founded in 2018 at PPW class, Faculty of Computer Science, University of Indonesia by four caring people. KitaSabi.com by SinarPerak is a crowd-funding website. We raise funds for people who need hands. We believe that we are the solutions of this chaos-era.
            </div>
            <br>

        <h1>Read other's <bold><i>story.</i></bold></h1>

        <!--Text Area-->
        {% block content %}
        {% if user.is_authenticated %}
        <form id ='formtest'>
            {% csrf_token %}
            {{ form }}
            </br>
            <button id='submit' type="submit" onclick= "postTesti()" class="save btn btn-default">Post</button> 
        </form>
        {% endif %}
        {% endblock content %}
        
        <br><br><br>

        <!--Testimoni-->
        <div id="testimonies" style="text-align:center;">
            <div class="table-responsive">
                <table id="demo" class="table" style="font-size: 15px;">
                    <thead>
                        <tr class="table text-center">
                            <th scope="col" class="align-middle"><font color="black">Sender</font></th>
                            <th scope="col" class="align-middle"><font color="black">Testimoni</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for testi in testies %}
                            <tr>
                                <td style='padding: 15px;' class='align-middle'>{{testi.sender}}</td>
                                <td style='padding: 15px;' class='align-middle'>{{testi.testi}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      
        </table>
        </div> 
</body>
<!-- {% include 'home/footer.html'%} -->
</html>
