/* h1 {
    font-size: 2.5vmax;
}

h2 {
    font-size: 2vmax;
}

h3 {
    font-size: 1.75vmax;
}

h4 {
    font-size: 1.5vmax;
}

h5 {
    font-size : 1.25vmax;
}

h6 {
    font-size : 1vmax;
}

p {
    font-size: 1vmax;
}
 */
