.span-viewheight {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Montserrat;
}

.bar-edit {
    background: black;
}

.white-text {
    color: white;
}

.news {
    padding : 5vh 5vw;
    background: rgba(0, 0, 0, 0.71);
    border-radius: 1em 0;
}

.content {
    margin: 5vh 5vw;
}

.center-text {
    text-align: center;
}

.griddy {
    display: flex;
    flex-flow: row nowrap;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#first {
    background-image: url("images/sad.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 996px) {
    .griddy:nth-child(even) {
        justify-content: flex-end;
    }
    
    .griddy:nth-child(odd) {
        justify-content: flex-start;
    }
    .content {
        margin: 5vh 10vw;
        max-width: 40vw;
    }
}
