<!doctype html>


{% include 'home/base.html' %}
{% load static %}
<head>
	<title>KitaSabi.com</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'programs/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'crowdfunding/global.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>

	<!--title-->
	<div class="container">
		<div class="col-sm-12">
				<h1 style="color:white">you can <i><b>do</b></i> something</h1>
				<h4 style="color:white">create a brighter future by supporting these programs</h4>	
		</div>
	</div>

	
	<div class="flex-container">
		<div class="row">
			<div class="col-lg-1 col-md-6">
			{% if user.is_authenticated %}
			<a href="{% url 'forms:donate' %}"><button id = "butu" type="button" class="btn btn-outline-light border">donate</button></a>
			{% else %}
			<a href="#" data-target="#login" data-toggle="modal"><button id="butu" class="btn btn-outline-light border login-trigger" type="button">donate</button></a>
		</div> 
		{% endif %}
	</div>

	<!--
	<div class="row">
		<div class="col-md-4">
		 </div>
		
		<div class="col-md-3">
			<a href="{% url 'forms:donate' %}" ><button style="margin-left: 250px" type="button" class="btn btn-outline-light btn-lg border">donate</button></a>
		</div>
		
		<div class="col-md-4">
		</div>
	  </div>-->


	<!--BOOTSTRAP CARDS-->
	  <div class="card-deck">
			{% for i in content_programs %}
			<div class = "col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<img class="card-img-top" src="{{ i.images }}" alt="program image">
		  	<div class="card-body">
				<h5 class="card-title">{{ i.title }}</h5>
				<h6 id='desc' class="card-text">{{ i.description }}</h6>
			</div>
		</div>
		<br><br>
	</div>	
	
		{% endfor %}

	<!--Trigger-->

<div id="login" class="modal fade" role="dialog">
	<div class="modal-dialog">
	  
	  <div class="modal-content">
		<div class="modal-body">
		  <button data-dismiss="modal" class="close">&times;</button>
		  <h4 style="text-align: center">Want to donate? Login Now!</h4>
		  <form>
				  <a href="{% url 'home:social:begin' 'google-oauth2' %}"><button class="loginBtn loginBtn--google" type="button" style="margin-left: 150px; border-radius: 20pt">Login With Google</button></a>
		   
		  </form>
		</div>
	  </div>
	</div>  
  </div>
	

	</body>
	{% include 'home/footer.html' %}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html> 