<!doctype html>
{% load static %}
<html lang="en-US">
<html>
    <head>
        <title>Thanks!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel = "stylesheet" href = "{% static 'crowdfunding/global.css' %}">
        <link rel = "stylesheet" href = "{% static 'forms/style.css' %}">
    </head>
    <body>
        {% include 'home/base.html' %}
        <div class = "container">
            <div class = "content center-elements">
                <div class = "white-text center-1">
                    <h1 class = "giant-text">thankyou</h1>
                    <h1>that means a lot</h1>
                    <a href = "{% url 'forms:index' %}"><button class = "redirect-button white-text">back to home</button></a>
                </div>
            </div>
        {% include 'home/footer.html' %}
        </div>

    </body>
</html>