<!doctype html>
{% load static %}
<html lang="en-US">
<html>
    <head>
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel = "stylesheet" href = "{% static 'crowdfunding/global.css' %}">
        <link rel = "stylesheet" href = "{% static 'forms/style.css' %}">
    </head>
    <body>
        {% include 'home/base.html' %}
        <div class = "container">
            <div class = "content center-elements">
                <div class = "card signup-card white-text">
                    <h1 class = "giant-text">regist</h1>
                    <div>
                        <form class = "control" method="POST" action="{% url 'forms:signup' %}">
                            {% csrf_token %}
                            {{ form }}
                            <div class = "center">
                                <input class = "signup-button white-text btn btn-sm" type = "submit" value = "sign up">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>