.header {
  background: url(https://i.imgur.com/tOuESrb.png);
  background-size: cover;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Helvetica;
  color: white;
}

.header h1 {
  font-size: 60px;
}

.header h2 {
  font-size: 20px;
}

.section {
  height: 50vh;
  width: 80vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.section h1 {
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 60px;
  font-family: Helvetica;
  color: white;
  height: 50%;
  margin-top: -50px;
}
