<!doctype html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'news/style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>News</title>
</head>

<body>
    <div class = "bar-edit">
        {% include 'home/base.html'%}
    </div>
    <div class = "span-viewheight white-text center-text" id = "first">
        <div>
            <div>
                <h1>look <i><b>around</b></i> you</h1>
                <h4>these are the things that's going on in our society</h4>
            </div>
        </div>

    </div>
    {% for news in all %}
        <div class = "span-viewheight white-text center-text griddy"
            style = "background-image: url('{{ news.image }}'); 
        ">
            <div class = "content news">
                <h3><b>{{ news.judul }}</b></h3>
                <h5>{{ news.waktu }}</h5>
                <p>{{ news.isi }}</p>
            </div>
        </div>
    {% endfor %}

  <div class = "bar-edit">
        {% include 'home/footer.html'%}
    </div>
</body>
</html>
