body {
	background-image: url("images/photo-1516585427167-9f4af9627e6c.jpeg"); 
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: Montserrat;
}

nav.link{
	color:white;
	font-family: montserrat;
}
nav.news{
	margin-left: 700px;
	color:white;
	font-family: montserrat;
}

.nav-item {
    margin:0 1vw;
}

nav.programs{
	margin-left: 100px;
	color:white;
	font-family: montserrat;
}
nav.ml-1 {
  margin-left: ($spacer * .25) !important;
}
button.signup{
	margin-left: 200px;
}
button.donate{
	margin: 10px 180px; 
	color:white;
}
h1.first{
	margin-top: 250px;
	color: white; 
	font-size: 80px; 
	font-family: montserrat;
}
h1.second{
	color:white; 
	font-size: 80px; 
	font-family: montserrat;
}
.border{
    text-align: center;
    border-radius: 20pt;
}

	/*Trigger Button*/
  .login-trigger {
	font-weight: bold;
	color: #fff;
	background: linear-gradient(to bottom right, #B05574, #F87E7B);
	padding: 15px 30px;
	border-radius: 30px;
	position: relative; 
	top: 50%;
  }
  
  /*Modal*/
  h4 {
	font-weight: bold;
	color: #fff;
  }
  .close {
	color: #fff;
	transform: scale(1.2)
  }
  .modal-content {
	font-weight: bold;
	background: linear-gradient(to bottom right,#F87E7B,#B05574);
  }
  .form-control {
	margin: 1em 0;
  }
  .form-control:hover, .form-control:focus {
	box-shadow: none;  
	border-color: #fff;
  }
  .username, .password {
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 2px solid #eee;
	padding-left: 0;
	font-weight: normal;
	background: transparent;  
  }
  .form-control::-webkit-input-placeholder {
	color: #eee;  
  }
  .form-control:focus::-webkit-input-placeholder {
	font-weight: bold;
	color: #fff;
  }
  .login {
	padding: 6px 20px;
	border-radius: 20px;
	background: none;
	border: 2px solid #FAB87F;
	color: #FAB87F;
	font-weight: bold;
	transition: all .5s;
	margin-top: 1em;
  }
  .login:hover {
	background: #FAB87F;
	color: #fff;
  }
  .loginBtn {
	box-sizing: border-box;
	position: relative;
	/* width: 13em;  - apply for fixed size */
	margin: 0.2em;
	padding: 0 15px 0 46px;
	border: none;
	text-align: left;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 16px;
	color: #FFF;
  }
  .loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
  }
  .loginBtn:focus {
	outline: none;
  }
  .loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
	background-color: #4C69BA;
	background-image: linear-gradient(#4C69BA, #3B55A0);
	/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
	text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
	border-right: #364e92 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
	background-color: #5B7BD5;
	background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
	/*font-family: "Roboto", Roboto, arial, sans-serif;*/
	background: #DD4B39;
  }
  .loginBtn--google:before {
	border-right: #BB3F30 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
	background: #E74B37;
  }

